<h1>{{title}}</h1>
<h4>Author: {{author}}</h4>
<p>{{description}}</p>
{{#if isEditing}}
<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input id="title" class="form-control" value=title}}
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    {{textarea id="description" class="form-control" rows="5" value=description}}
  </div>

  <div class="form-group">
    <label for="author">Author</label>
    {{input id="author" class="form-control" value=author}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
  {{else}}

  <p>{{body}}</p>
  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete</button>
  {{/if}}

  <h2>Answers</h2>
  {{#each answers}}
  <p>{{text}}</p>

  {{/each}}

  <p>{{#link-to 'new-answer' this.id class="btn btn-default"}}New Answer{{/link-to}}</p>

  {{outlet}}
